body{
	height: 100vh;
	margin: 0;
	text-align: center;
}
table{
	border-collapse: collapse;
	text-align: center;
	display: flex;
	justify-content: center;
}
td{
	min-width: 20px;
	height: 20px;
	background: #eee;
	border: 1px solid #555;
}
th{
	min-width: 20px;
	height: 20px;
	background: #bbb;
	border: 1px solid #555;
}
.styleHover{
	background: #bbb;
}
.styleHover:hover{
	background: #888;
}
button{
	padding: 3px 10px;
	margin: 10px 0;
} 